
.sun{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: goldenrod;
  position: relative;
  left: 20rem;
  top: 35rem
}


.planet-1{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 25rem;
  top:38rem
}
.planet-2{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  left: 23rem;
  top:38rem;
  z-index: 2;
}
.planet-3{
  width: 60px;
  height: 50px;
  background-color: olivedrab;
  border-radius: 60%;
  position: relative;
  left:23rem;
  top: 30rem;
}
  
















  @keyframes orbit {
    from {
      transform:
        rotate(0deg)
        translateX(150px);
    }
    to {
      transform:
        rotate(360deg)
        translateX(150px);
    }
  }
  @media (
    prefers-reduced-motion: no-preference
  ) {
    
    .planet-1 {
      animation: orbit 6000ms linear infinite;
    }
    

  }
  @keyframes orbit {
    from {
      transform:
        rotate(0deg)
        translateX(150px);
    }
    to {
      transform:
        rotate(360deg)
        translateX(150px);
    }
  }
  @media (
    prefers-reduced-motion: no-preference
  ){
    
    .planet-2 {
      animation: orbit 8000ms linear infinite;
    }
    

  }
  @keyframes orbit {
    from {
      transform:
        rotate(0deg)
        translateX(180px);
    }
    to {
      transform:
        rotate(360deg)
        translateX(180px);
    }
  }
  @media (
    prefers-reduced-motion: no-preference
  ){
    
    .planet-3 {
      animation: orbit 12000ms linear infinite;
    }
  }